@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
	background-color: white;
	color: black;
}
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Old Standard", serif;
	font-size: 15px;
}
.bigbox {
	text-align: center;
}
#navbar {
	font-family: "Questrial", sans-serif;
	background-color: black;
}
#navbar > a {
	color: white;
}
#navbar> a:active {
	color: white;
}
#navbar > a:hover {
	color: white;
}
#navbar > a:visited {
	color: white;
}
.item {
	width: 100px;
	float: left;
	text-align: center;
	padding: 10px;
}
.item > a {
    text-decoration:none;
	display: block;
	color: white;
	background-color: black;
  	border:none;
}
.item > a:active {
    text-decoration:none;
	color: white;
}
.item > a:hover {
    text-decoration:none;
	color: white;
}
.item > a:visited {
    text-decoration:none;
	color: white;
}
#bar {
    float: right;
    margin-bottom: auto;
    margin-top:auto;
    background-color:gray;
}
#title {
    text-decoration:none;
	font-size: 40px;
	padding: 10px;
}
#login {
    margin-top: auto;
    margin-bottom: auto;
}
#login > a {
    text-decoration:none;
    background-color: black;
    color:white;
    border-radius:5px;
    border:1px solid white;
    padding:10px;
    margin: 10px;
    font-size:20px;
    vertical-align: bottom;
}
#signup > a {
    text-decoration:none;
    background-color: white;
    color:black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}
.textfield {
    font-family: "Old Standard", serif;
    font-size:15px;
}
.button {
    font-family: "Old Standard", serif;
    background-color: black;
    color:white;
    border: none;
    padding:5px;
    font-size:15px;
    margin:5px;
}
#search {
    display: inline;
    border:none;
}