@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
	background-color: white;
	color: black;
}
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Old Standard", serif;
	font-size: 15px;
}
.bigbox {
	text-align: center;
}
#navbar {
	font-family: "Questrial", sans-serif;
	background-color: black;
}
#navbar > a {
	text-decoration: none;
	color: white;
}
#navbar> a:active {
	text-decoration: none;
	color: white;
}
#navbar > a:hover {
	text-decoration: none;
	color: white;
}
#navbar > a:visited {
	text-decoration: none;
	color: white;
}
.item {
	width: 100px;
	float: left;
	text-align: center;
	padding: 10px;
}
.item > a {
	text-decoration: none;
	display: block;
	color: white;
	background-color: black;
  	border:none;
}
.item > a:active {
	text-decoration: none;
	color: white;
}
.item > a:hover {
	text-decoration: none;	
	color: white;
	background-color: black;
}
.item > a:visited {
	text-decoration: none;
	color: white;
}
#bar {
	float: right;
}
#title {
	font-size: 30px;
	padding: 10px;
}
